@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/submit_ajax/login" method="post">
    <input type="text" name="name" />
    <input type="text" name="pwd" />
    <input type="submit" value="dl" />
</form>
